/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  font-family: "IBM Plex mono", monospace, Arial, Helvetica, sans-serif;
  background-color: var(--page-background-color, #000028);
  background-image: var(--page-background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* ШАПКА */

.header {
  padding: 10px;

  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  min-height: 668px;
  height: 100vh;
}

.decorated-zone {
  position: relative;
}
.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color, #ff0070);
}

.decorated-zone::before {
  border-left: none;
  border-bottom: none;
  right: 10px;
  top: 10px;
}

.decorated-zone::after {
  border-top: none;
  border-right: none;
  left: 10px;
  bottom: 10px;
}

.rec {
  margin-right: 3px;
  display: inline-flex;
  align-items: center;
  gap: 9px;
  position: absolute;
  right: 16px;
  top: 12px;
  font-size: 18px;
  color: var(--accent-color, #ff0070);
  text-transform: uppercase;
}

.rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color, #ff0070);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}
.header__theme-menu-button {
  font-size: 18px;
  padding: 1.5px 13px;
  letter-spacing: 0%;
  background-color: transparent;
  color: var(--button, #ff0070);
  border: 1px solid transparent;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--button-focus, #ff0070);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.header_title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  justify-self: start;
  color: var(--title-color, #db00ff);
  text-shadow: 4px 4px 0 var(--text-shadow, #ff0070);
  line-height: 83%;
}

.header_description {
  background-color: var(--header_description, #ff0070);
  color: var(--text-title-color, #000028);
  display: flex;
  width: clamp(355px, 50%, 491px);
  padding: 0px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
/* ГЛАВНАЯ */
.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
  color: var(--text-color, #f1b2ce);
  font-weight: 400;
}

.main_section-title {
  margin-bottom: 20px;
  line-height: 23.4px;
  font-size: 18px;
  color: var(--accent-color, #ff0070);
  font-weight: 700;
}

.content_section {
  margin-bottom: -25px;
  /* TODO */
}
.text_blocs {
  display: grid;
}
.text_block_title {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 23.5px;
  background-color: var(--background_text, #ff0070);
  color: var(--text-title-color, #000028);
  font-weight: 700;
}
.text_block {
  display: grid;
}

.text_block_content {
  margin-bottom: 20px;
  /* TODO */
  font-size: 18px;
  line-height: 23.5px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--text-shadow, #ff0070);
}

.link:hover {
  text-decoration: underline;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--text-color, #f1b2ce);
}

.text_block_subtitle {
  margin-top: 2px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--background_text, #ff0070);
  color: var(--text-title-color, #000028);
  font-weight: 400;
}

.media-gallery {
  display: grid;
  grid-template-columns: 1fr;

  gap: 10px;
}

.gallery {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 10px;
  block-size: max(100vh, 668px);
}
.footer_text {
  display: flex;
  justify-self: center;
  justify-content: center;
}

/* BREAK POINT 768 */

@media (min-width: 768px) {
  .header {
    padding: 20px;
  }

  .main {
    padding: 20px;
    margin-top: 40px;
    gap: 80px;
  }

  .main_section-title {
    margin-bottom: 0px;
  }

  .decorated-zone::before {
    border-left: none;
    border-bottom: none;
    right: 20px;
    top: 20px;
  }

  .decorated-zone::after {
    border-top: none;
    border-right: none;
    left: 20px;
    bottom: 20px;
  }
  .rec {
    right: 27px;
    top: 21px;
  }
  .header_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -20px;
  }

  .header_description {
    inline-size: 50%;
  }

  .content_section {
    margin-bottom: -23px;
  }

  .info_section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .what {
    .main_section-title {
      grid-column: 1/-1;
      max-width: 236px;
      margin-bottom: 2px;
    }

    .how {
      margin-top: 5px;
    }
  }

  .text_gallery {
    margin-bottom: 20px;
  }

  .article_concentration_what {
    margin-bottom: 6px;
    grid-column: 1/-1;
  }

  .media-gallery {
    display: grid;
    gap: 20px;
  }

  .image_sunset {
    grid-area: sunset;
  }

  .image_ice-cream {
    grid-area: ice-cream;
  }

  .image_tape {
    grid-area: tape;
  }

  .image_books {
    grid-area: books;
  }

  .image_street {
    grid-area: street;
  }

  .media-gallery:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }
}
/* BREAK POINT  1024 */

@media (min-width: 1024px) {
  .header {
    align-self: start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .header__theme-menu {
    margin-left: 2px;
    justify-self: center;
    height: 100%;
  }

  .info_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
  #cause {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .what {
    .main_section-title {
      max-width: 260px;
    }
  }
  .text_block {
    display: block;
  }

  .article_concentration_what {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    width: 100%;
  }

  .main_section-content {
    grid-column: span 2;
    width: 100%;
  }
}
